body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

a{
  text-decoration: none;
}

section{
  height: 100vh;
  scroll-snap-align: center;
}

.black{
  
  background-color:#0c0c1d;
}

@tailwind base;
@tailwind components;
@tailwind utilities;